{% extends 'admin/base_admin.html.twig' %}

{% block title %}Tickets{% endblock %}

{% block body %}
<div class="container-fluid py-4">
    <div class="admin-page-header">
        <h1>Tickets / Sales</h1>
        <div class="admin-page-actions">
            <a href="{{ path('app_ticket_new') }}" class="btn btn-create">
                <i class="fas fa-plus me-2"></i>Create New Ticket
            </a>
        </div>
    </div>
    
    <div class="card">
        <div class="card-body p-0">
            <div class="table-responsive admin-table-wrap"
                 data-realtime-topic="admin_tickets"
                 data-realtime-mode="inner">
                {% include 'admin/ticket/_table.html.twig' %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
